<% title 'Posts' %>



<table class="table table-striped table-bordered">
<tr>
	<th>Number</th>
	<th>Title</th>
	<th>Written By</th>
	<th>Date</th>
</tr>
<% @posts.each do |p| %>
<tr>
<td>
<%= p.id %>
</td>
<td>
<%= render p %>
</td>
<td>Author</td>
<td><%= p.created_at - (10*3600) %></td>
</tr>
<% end %>
</table>

<button type="button" class="btn btn-primary">
	<%= link_to 'New post', new_post_path %>
</button>